<html>
 <style>
  .cube {
  }
  .side {
   display: inline-block;
   position: relative;
   float: left;
   margin: 5px;
  }
  .field {
   display: inline-block;
   position: relative;
   width: 50px;
   height: 50px;
   border: 2px solid #eee;
   float: left;
  }
  .field:nth-child(3n+1) {
   clear: both;
  }
 </style>
 <body ng-app="Cube">
 <head>
  <title>THE CUBE</title>
 </head>
  <div ng-controller="cube">
   <div class="cube">
    <div class="side" ng-repeat="(id, side) in cube">
     <div 
      class="field" 
      ng-repeat="(num, color) in side"
      ng-style="{'background-color': color}"></div> 
    </div>
   </div>
   <input placeholder="axis" type="text" ng-model="axis" />
   <input placeholder="left" type="text" ng-model="direction" />
   <button ng-click="move(axis, direction)" value="Move">Move</button>
  </div>
  <br>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
  <script src="app.js"></script>
 </body>
</html>
